// Global
// ==================================================================== 
$color-page-background: #FFF;
$color-black: #000;
$color-white: #FFF;

$color-yellow: #E8B22A;
$color-yellow-light: #E6B749;
$color-yellow-dark: #CA9824;

$color-brown: #793623;
$color-brown-light: #BE7433;
$color-brown-dark: #692E1C;

$color-gray: #333333;
$color-gray-light: #c0c0c0;
$color-gray-dark: #444444;

$color-green: #1EB504;
$color-green-light: #85E461;
$color-green-dark: #227F00;

$color-red: #bf0000;
$color-red-light: #dd1313;
$color-red-dark: #920303;

$color-blue: #1C476A;
$color-blue-light: #5091c4;
$color-blue-dark: #194a70;
$color-blue-darkest:#213A50;

$color-orange: #FF6600;
$color-orange-light: #FE9901;
$color-orange-dark: #C64E00;

$color-purple: #1e2a50;
$color-purple-light: #2c4390;
$color-purple-dark: #182241;

$color-aquagreen: rgb(129, 165, 165);
$color-aquagreen-light: #5D7575;
$color-aquagreen-dark: rgb(57, 71, 71);


// Social Colors
// ====================================================================
$facebook_color           : hsla(222, 47%, 40%, 1);     // #365397
$twitter_color            : hsla(198, 100%, 47%, 1);    // #00a9f1
$linkedin_color           : hsla(203, 100%, 35%, 1);    // #006db3
$apple_color              : hsla(0, 0%, 45%, 1);        // #737373
$google_color             : hsla(217, 89%, 61%, 1);     // #4285f4
$google_plus_color        : hsla(8, 74%, 53%, 1);       // #e0452c
$youtube_color            : hsla(0, 100%, 60%, 1);      // #ff3333
$vimeo_color              : hsla(200, 82%, 61%, 1);     // #48b6ed
$pinterest_color          : hsla(0, 78%, 45%, 1);       // #ce1a19
$yelp_color               : hsla(5, 100%, 38%, 1);      // #c30f00
$dribbble_color           : hsla(338, 82%, 60%, 1);     // #ed4584
$amazon_color             : hsla(36, 100%, 50%, 1);     // #ff9700
$ebay_color               : hsla(219, 89%, 30%, 1);     // #083790
$skype_color              : hsla(198, 100%, 48%, 1);    // #00acf4
$instagram_color          : hsla(208, 46%, 41%, 1);     // #396d9a
$dropbox_color            : hsla(206, 89%, 46%, 1);     // #0d84de
$flickr_color             : hsla(334, 100%, 46%, 1);    // #ea0066
$github_color             : hsla(0, 0%, 18%, 1);        // #2f2f2f
$basecamp_color           : hsla(121, 38%, 58%, 1);     // #6bbd6d
$tumblr_color             : hsla(210, 37%, 30%, 1);     // #304c68
$foursquare_color         : hsla(206, 72%, 45%, 1);     // #207dc5
$box_color                : hsla(204, 83%, 40%, 1);     // #1277bc