<footer class="footer">
  <script src="{{ "/assets/js/custom.js" | relative_url }}"></script>
  <div class="container">
    <span class="copyright">
        ALUX METAL 2018 COPYRIGHT © Todos os direitos reservados <br>
        R. Açucena, 633 - Jardim das Flores - CEP: 06110-160 - OSASCO / SP
    </span>
    <span class="develop">
      Developed by: Luan Messias
    </span>
    <a href="#header">
       <img class="img-fluid" src="{{ "/assets/img/return.png" | relative_url }}" alt="">
    </a>
  </div>
</footer>