// HOME
// ====================================================================
%home-cont {
    margin-bottom: 144px;
    @media (max-width: $res-sm) {
        .container-fluid, .home-cards {
            padding: 0px;
        }
        .col-card {
            padding: 10px;
        }
    }
}

%home-banner {
    .banner-home {
        position: relative;
        @media (min-width: $res-md) {
            .banner-home-back {
                @include blur(30px);
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-image: url('img/banner-home-1.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                z-index: -1;
            }
            #carouselExampleIndicators {
                -webkit-box-shadow: 0px 24px 29px -12px rgba(0, 0, 0, 0);
                -moz-box-shadow: 0px 24px 29px -12px rgba(0, 0, 0, 0);
                box-shadow: 0px 24px 29px -12px rgba(0, 0, 0, 0);
                margin-bottom: 40px;
            }
        }
        .carousel-caption {
            position: absolute;
            right: auto;
            left: 0;
            z-index: 10;
            bottom: 0;
            color: #fff;
            width: 100%;
            padding: 10px 30px;
            text-align: center;
            background: rgba(0, 0, 0, .5);
        }
        @media (max-width: $res-sm) {
            padding: 0px;
            .container {
                padding: 0px;
                .carousel-caption {
                    display: none;
                }
            }
        }
    }
}

%home-welcome {
    .home-welcome {
        text-align: center;
        h1 {
            @include fonte($font-two,
            normal,
            40px,
            $color-black);
            display: inline-block;
            width: auto;
            margin: 0px auto;
            &:after {
                content: "";
                width: 195px;
                height: 2px;
                background: $color-black;
                display: block;
                margin: 5px auto;
            }
        }
        span {
            @include fonte($font-one,
            normal,
            14px,
            $color-black);
            display: block;
            width: 80%;
            text-align: center;
            margin: 15px auto;
        }
    }
}

%home-cards {
    .home-cards-cotainer {
        background-color: $color-blue-darkest;
    }
    .home-cards {
        h1 {
            @include fonte($font-two,
            normal,
            40px,
            $color-white);
            display: inline-block;
            width: auto;
            margin: 20px auto 0px auto;
            &:after {
                content: "";
                width: 195px;
                height: 2px;
                background: $color-white;
                display: block;
                margin: 5px auto;
            }
        }
        >span {
            @include fonte($font-one,
            normal,
            14px,
            $color-white);
            display: block;
            width: 80%;
            text-align: center;
            margin: 15px auto;
        }
        .col-card {
            padding: 15px;
            .card {
                background: transparent;
                .card-title {
                    @include box-sizing();
                    @include border-radius();
                    @include fonte($font-two,
                    400,
                    24px,
                    $color-white);
                    @include linear-gradient(42deg,
                    $color-blue-light 0%,
                    $color-blue 50%,
                    $color-blue-dark 50.01%,
                    $color-blue-darkest 100%);
                    margin: 0px;
                    padding: 3px 10px;
                    border: 0px;
                }
                .card-photos {
                    @include box-sizing();
                    padding: 0;
                    .img-card {
                        margin: 10px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .card-info {
                    @include box-sizing();
                    @include fonte($font-one,
                    normal,
                    14px,
                    $color-white);
                    padding: 0;
                    a {
                        margin: 10px 0px;
                    }
                }
            }
        }
    }
}

%home-services {
    .servicos {
        padding: 10px;
        .card {
            text-align: center;
            padding: 25px 0px;
            border: 0px;
        }
        .number {
            @include transition;
            @include border-radius(100%);
            @include fonte($font-two,
            bold,
            60px,
            #6A6A6A);
            @include flexbox(flex,
            row,
            nowrap,
            center,
            center,
            space-between);
            align-self: center;
            text-align: center;
            background-color: #FFF;
            width: 110px;
            height: 110px;
            margin: 0px;
            margin-bottom: 20px;
            &:hover {
                background-color: #6A6A6A;
                color: #FFF;
            }
        }
        .card-title {
            @include fonte($font-two,
            bold,
            20px,
            $color-gray-dark);
        }
        .card-text {
            @include fonte($font-one,
            400,
            12px,
            $color-gray-dark);
            text-align: justify;
            width: 80%;
            margin: 0px auto;
        }
    }
}

%home-destaques {
    .destaques {
        @include box-sizing();
        @include bgimg("bg_middle.jpg");
        background-attachment: fixed;
        width: 100%;
        padding: 20px;
        min-height: 150px;
        .card {
            text-align: center;
            background: transparent;
            border: 0px;
            img {
                width: 85px;
                display: block;
                margin: 10px auto;
            }
            .card-title {
                @include fonte($font-two,
                bold,
                20px,
                $color-white);
                text-transform: uppercase;
            }
            .card-text {
                @include fonte($font-one,
                400,
                12px,
                $color-white);
            }
        }
    }
}

%home-produtos {
    .produtos {
        .card {
            border: 0px;
            .card-body {
                padding: 10px 0px;
                text-align: center;
            }
            .card-title {
                @include fonte($font-two, bold, 20px, $color-blue);
                text-transform: uppercase;
                text-align: center;
            }
            .card-text {
                @include fonte($font-one, 400, 12px, $color-gray-dark);
                text-align: center !important;
            }
        }
    }
}

%home-social {
    .social {
        @include box-sizing();
        @include bgimg("bg_bottom.jpg");
        background-attachment: fixed;
        width: 100%;
        padding: 50px 10px;
        min-height: 150px;
        .socialinfo {
            margin: 0px auto;
            text-align: center;
            h2 {
                @include fonte($font-one, bold, 25px, $color-white);
            }

            span {
                @include fonte($font-one, normal, 12px, $color-white);
            }
        }
        .social-icons {
            a {
                margin: 10px;
            }
            i {
                font-size: 34px;
                color: $color-white;
            }
        }
    }
}

%home-video {
    .container-video {
        @include bgimg("bgvideo.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    .videoContainer {
        @include transition;
        @include box-sizing;
        padding: 20px;
        width: 100%;
        
        @media (max-width: $res-xs) {
            height: 200px;
        }
        // Medium devices (tablets, 768px and up)
        @media (max-width: $res-sm) {
            height: 300px;
        }
        // Large devices (desktops, 992px and up)
        @media (min-width: $res-md) {
            height: 400px;
        }
        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: $res-xl) {
            height: 642px;
        }
    }
}

%home-news{
    .news-cont{
        @include box-sizing;
        padding: 20px;
    }
    .news{
        .card-group{
            @include flexbox(flex, row, wrap, flex-start, inherit, flex-start);
            padding: 10px 0px;
            
            .card{
                @include box-sizing;
                padding: 10px;
                flex: inherit;
                margin: 10px;
                border: 1px solid #CCC;
                @media (max-width: $res-xs) {
                    width: 100%;
                }
                // Medium devices (tablets, 768px and up)
                @media (max-width: $res-sm) {
                    width: calc(50% - 10px);
                }
                // Large devices (desktops, 992px and up)
                @media (min-width: $res-md) {
                    width: calc(33.333% - 10px);
                }
                // Extra large devices (large desktops, 1200px and up)
                @media (min-width: $res-xl) {
                    width: calc(25% - 20px);
                }
                .card-text{
                    text-align: center !important;
                }
            }
        }
    }
}

// HOME - CALLS
// ====================================================================
body {
    @extend %home-cont;
    @extend %home-banner;
    @extend %home-services;
    @extend %home-destaques;
    @extend %home-produtos;
    @extend %home-social;
    @extend %home-video;
    @extend %home-news;
}