---
layout: post
title:  "Outras linhas de produção"
desc:   "A Alux Metal disponibiliza em seu portifolio outras linhas de produção que não constam no catalogo, confira"
date:   2018-05-28 19:33:27
categories: jekyll update
---
<div class="news-details container">
    
    <img src="{{ "/assets/img/logonews.jpg" | relative_url }}" style="max-width: 50%; display: block" alt="">

    <br />

    <span> A ALUX METAL , disponibiliza em seu Portifolio ,( não consta em Catalogo) as linhas :</span><br />
    <span>• GOLD III</span><br />
    <span>• FACHADA ATLANTA</span><br />
    <span>• LINHA UNIVERSAL GRADIL</span><br />
    <span>• OUTRAS LINHAS INDUSTRIAIS , COMO BARRA CHATAS E TUBOS  REDONDOS E QUADRADOS.</span><br />
    Consulte-nos


</div>