// HEADER
// ====================================================================
%header-base {
    background: $color-gray;
    overflow: visible;
    @media (min-width: $res-md) {
        height: 130px;
        .container {
            height: 130px;
        }
    }
    @media (max-width: $res-sm) {
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        &.fixed {
            position: fixed;
            z-index: 99;
        }
    }
}

%header-logo {
    #logo {
        @media (max-width: $res-sm) {
            float: left;
            img {
                max-width: 70%;
            }
        }
    }
}

%header-nav {
    .nav-desktop {
        position: relative;
        top: 5px;
        z-index: 1;
        .nav-item {
            background-color: transparent;
            margin-left: 10px;
            a {
                @include fonte($font-one, normal, 14px, $color-white);
                transition: all 300ms;
                &:hover {
                    background: $color-aquagreen;
                    color: $color-white;
                }
            }
        }
    }
    .nav-mobile {
        @include box-sizing();
        background-color: $color-gray-dark;
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: -80%;
        z-index: 20;
        transition: all 300ms;
        z-index: 1;
        &.active {
            left: 0%;
        }
        .nav-item {
            @include box-sizing();
            width: 100%;
            border-bottom: 1px solid $color-gray;
            #logo-menu {
                margin-left: 10px;
                width: 65%;
                display: block;
                margin-bottom: 10px;
            }
            &:hover {
                background: $color-aquagreen;
            }
            a {
                color: $color-white;
            }
        }
    }
}

%header-spinner {
    .spinner-master2 * {
        transition: all 0.3s;
        box-sizing: border-box;
    }
    .spinner-master2 {
        position: absolute;
        right: 20px;
        top: 16px;
        height: 50px;
        width: 50px;
    }
    .spinner-master2 input[type=checkbox] {
        display: none;
    }
    .spinner-master2 label {
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 10px;
        left: 0;
    }
    .spinner-master2 .spinner2 {
        position: absolute;
        height: 5px;
        width: 100%;
        background-color: #eee;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    }
    .spinner-master2 .diagonal.part-1 {
        position: relative;
        float: left;
    }
    .spinner-master2 .horizontal {
        position: relative;
        float: left;
        margin-top: 7px;
    }
    .spinner-master2 .diagonal.part-2 {
        position: relative;
        float: left;
        margin-top: 6px;
    }
    .spinner-master2 input[type=checkbox]:checked~.spinner-spin2>.horizontal {
        opacity: 0;
    }
    .spinner-master2 input[type=checkbox]:checked~.spinner-spin2>.diagonal.part-1 {
        transform: rotate(135deg);
        margin-top: 10px;
    }
    .spinner-master2 input[type=checkbox]:checked~.spinner-spin2>.diagonal.part-2 {
        transform: rotate(-135deg);
        margin-top: -16px;
    }
}

%header-search {
    .search {
        @media (min-width: $res-md) {
            margin-bottom: 20px;
        }
    }
}

%header-info{
    .info{
        padding: 10px;
        background: #4b4d50;
        li{
            list-style: none;
            @include flexbox(flex, row, nowrap, flex-start, center, center);
            @include fonte($font-one, normal, 14px, $color-white);
            margin: 5px 0px;
            i{
                margin-right: 5px;
                font-size: 20px;
            }
        }
    }
}

// HEADER - CALLS
// ====================================================================
#me-header {
    @extend %header-base;
    @extend %header-logo;
    @extend %header-nav;
    @extend %header-spinner;
    @extend %header-search;
    @extend %header-info;
}