---
menu:
  - pageName: "HOME"
    pageLink: "index.html"
  - pageName: "PERFIS DE ALUMINIO"
    pageLink: "perfis.html"
  - pageName: "CONTATO"
    pageLink: "javascript:goTo(contato);"
---


<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}" ng-app="macanApp">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include contact.html %}

    {% include footer.html %}

  </body>

</html>
