---
layout: default

cards:
    - icon: "fa-users"
      title: "Quem Somos"
      desc: "Inicio das atividades em Janeiro de 2018, voltada no desenvolvimento de Industrias em geral,e Distribuidores a Alux Metal. está entre os produtores de perfis de alumínio. Com 1 prensa de extrusão de 7” totalmente automatizadas no estado de São Paulo"
    - icon: "fa-bullseye"
      title: "Missão"
      desc: "“Produção e comercialização de soluções de alumínio para os mercados de transporte, construção civil e industrial”"
    - icon: "fa-star"
      title: "Valores"
      desc: "Ética nos relacionamentos e negócios <br> Sucesso em equipe e treinamento mutuo <br> Compromisso com qualidade e atendimento."

news:
    - title: "Titulo da notícia"
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet enim vitae nunc ornare, at pretium odio cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Fusce quis elit a enim aliquam gravida eget eu quam. Maecenas tincidunt ac nisi non aliquet. "
    - title: "Titulo da notícia"
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet enim vitae nunc ornare, at pretium odio cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Fusce quis elit a enim aliquam gravida eget eu quam. Maecenas tincidunt ac nisi non aliquet. "
    - title: "Titulo da notícia"
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet enim vitae nunc ornare, at pretium odio cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Fusce quis elit a enim aliquam gravida eget eu quam. Maecenas tincidunt ac nisi non aliquet. "
    - title: "Titulo da notícia"
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet enim vitae nunc ornare, at pretium odio cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Fusce quis elit a enim aliquam gravida eget eu quam. Maecenas tincidunt ac nisi non aliquet. "

---

<div class="container-fluid p-0 app" ng-controller="macanController">

    <div class="container-fluid internal-titles">
        <div class="container">
            <h1>Olá, seja bem vindo</h1>
        </div>
    </div>

    <div class="servicos container">
        <div class="card-group d-xl-flex justify-content-between align-items-flex-start">
            {% for card in layout.cards %}
            <div class="card">
                <div class="number"><i class="fas {{ card.icon }}"></i></i></div>
                <div class="card-body">
                    <h5 class="card-title card-number">{{card.title}}</h5>
                    <p class="card-text">{{ card.desc }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid inpage-titles dn">
        <div class="container">
            <h1>Notícias e novidades</h1>
        </div>
    </div>

    <div class="news container dn">
        
        <div class="card-group">
            {% for post in site.posts %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.desc }}</p>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Mais detalhes</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid container-video">
        <div class="container">
            
            <div class="infoContainer">
                
            </div>

            <div class="videoContainer">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZE4_8Jbm-Pk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            
        </div>
    </div>

</div>


<a id="hidden_link" data-fancybox data-animation-duration="500" data-options='{"src": "#deliveryModal", "touch": false}'  href="javascript:;"  style="display: none"></a>

<div style="display:none" id="deliveryModal" class="modal">
    <div class="modal__content">
        <img src="{{ "/assets/img/logonews.jpg" | relative_url }}" style="max-width: 50%; display: block" alt="">

        <br />
    
        <span> A ALUX METAL , disponibiliza em seu Portifolio ,( não consta em Catalogo) as linhas :</span><br />
        <span>• GOLD III</span><br />
        <span>• FACHADA ATLANTA</span><br />
        <span>• LINHA UNIVERSAL GRADIL</span><br />
        <span>• OUTRAS LINHAS INDUSTRIAIS , COMO BARRA CHATAS E TUBOS  REDONDOS E QUADRADOS.</span><br />
        Consulte-nos
    
    </div>
</div>