---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  
  <div class="container-fluid internal-titles">
      <div class="container">
          <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      </div>
  </div>

  <div class="container-fluid">
      <div class="container news-cont">
          {{ content }}
      </div>
  </div>



</article>
